@import './sidebar.css';
@import './presentation.css';
@import './navbar.css';

#root>div:first-child {
    padding: 8px !important;
    background: var(--Background-System-Body-Base, #000) !important;
    gap: 8px !important;
}

* {
    box-sizing: border-box !important;
}