.sidebar-container {
    padding: 4px;
    border-radius: 8px;
    background: var(--Background-System-Body-tertiary, #252729) !important;
}

.css-uwwqev {
    background-color: #000 !important;
    border-radius: 4px !important;
}


.css-e7l6fs #list-item-about,
.css-e7l6fs #list-item-whats-new,
.css-e7l6fs #list-item-documentation,
.css-e7l6fs #list-item-shortcuts {
    display: none !important;
}