@import "tailwindcss";

@plugin 'glare-typography';
@plugin 'glare-themes';
@plugin 'glare-torch-mode';
@plugin 'tailwind-scrollbar-hide';
@plugin 'tailwindcss-animate';

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 1000s ease-out, background-color 1000s ease-out";
  -webkit-transition-delay: 1000s;
}

body {
  font-family: "SF-Pro";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
}

.test {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}