 /* Variables  */
 :root {
  --purple-100-mode-1: #F5EEFFFF;
  --purple-200-mode-1: #EBDCFFFF;
  --purple-300-mode-1: #D8BAFFFF;
  --purple-400-mode-1: #C396FFFF;
  --purple-500-mode-1: #AE71FFFF;
  --purple-600-mode-1: #9748FFFF;
  --purple-700-mode-1: #7839CBFF;
  --purple-800-mode-1: #5B2B99FF;
  --purple-900-mode-1: #3E1E69FF;
  --purple-1000-mode-1: #181323FF;
  --medium-red-100-mode-1: #FCE7EAFF;
  --medium-red-200-mode-1: #F9CED6FF;
  --medium-red-300-mode-1: #F49EACFF;
  --medium-red-400-mode-1: #EE6D83FF;
  --medium-red-500-mode-1: #E93D59FF;
  --medium-red-600-mode-1: #E30C30FF;
  --medium-red-700-mode-1: #B60A26FF;
  --medium-red-800-mode-1: #88071DFF;
  --medium-red-900-mode-1: #5B0513FF;
  --medium-red-1000-mode-1: #2D020AFF;
  --blue-sparkle-100-mode-1: #E6F1FFFF;
  --blue-sparkle-200-mode-1: #CCE3FFFF;
  --blue-sparkle-300-mode-1: #99C8FFFF;
  --blue-sparkle-400-mode-1: #66ACFFFF;
  --blue-sparkle-500-mode-1: #3391FFFF;
  --blue-sparkle-600-mode-1: #0075FFFF;
  --blue-sparkle-700-mode-1: #005ECCFF;
  --blue-sparkle-800-mode-1: #004699FF;
  --blue-sparkle-900-mode-1: #002F66FF;
  --blue-sparkle-1000-mode-1: #001733FF;
  --green-cyan-100-mode-1: #E6F5F0FF;
  --green-cyan-200-mode-1: #CDEAE1FF;
  --green-cyan-300-mode-1: #9BD5C3FF;
  --green-cyan-400-mode-1: #69C0A5FF;
  --green-cyan-500-mode-1: #37AB87FF;
  --green-cyan-600-mode-1: #059669FF;
  --green-cyan-700-mode-1: #047854FF;
  --green-cyan-800-mode-1: #035A3FFF;
  --green-cyan-900-mode-1: #023C2AFF;
  --green-cyan-1000-mode-1: #011E15FF;
  --cool-green-100-mode-1: #DCF8DEFF;
  --cool-green-200-mode-1: #B8F0BBFF;
  --cool-green-300-mode-1: #64DF6AFF;
  --cool-green-400-mode-1: #0AC713FF;
  --cool-green-500-mode-1: #08A810FF;
  --cool-green-600-mode-1: #078B0EFF;
  --cool-green-700-mode-1: #056E0BFF;
  --cool-green-800-mode-1: #045308FF;
  --cool-green-900-mode-1: #033906FF;
  --orange-200-mode-1: #F4DECFFF;
  --orange-300-mode-1: #FFB77CFF;
  --orange-400-mode-1: #F79249FF;
  --orange-500-mode-1: #DE7429FF;
  --orange-600-mode-1: #C75301FF;
  --orange-700-mode-1: #9F4200FF;
  --orange-800-mode-1: #783200FF;
  --orange-900-mode-1: #532200FF;
  --yellow-200-mode-1: #FFF4B3FF;
  --yellow-300-mode-1: #FFEC99FF;
  --yellow-400-mode-1: #FFDE66FF;
  --yellow-500-mode-1: #FFC803FF;
  --yellow-600-mode-1: #FFB700FF;
  --wavy-navy-100-mode-1: #E6F0F5FF;
  --wavy-navy-200-mode-1: #CCE1EBFF;
  --wavy-navy-300-mode-1: #99C2D7FF;
  --wavy-navy-400-mode-1: #66A4C2FF;
  --wavy-navy-500-mode-1: #3385AEFF;
  --wavy-navy-600-mode-1: #00679AFF;
  --wavy-navy-700-mode-1: #00527BFF;
  --wavy-navy-800-mode-1: #003E5CFF;
  --wavy-navy-900-mode-1: #00293EFF;
  --wavy-navy-1000-mode-1: #00151FFF;
  --macaroon-rose-100-mode-1: #FEEEF3FF;
  --macaroon-rose-200-mode-1: #FDDDE7FF;
  --macaroon-rose-300-mode-1: #FBBACEFF;
  --macaroon-rose-400-mode-1: #F998B6FF;
  --macaroon-rose-500-mode-1: #F7759DFF;
  --macaroon-rose-600-mode-1: #F55385FF;
  --macaroon-rose-700-mode-1: #C4426AFF;
  --macaroon-rose-800-mode-1: #933250FF;
  --macaroon-rose-900-mode-1: #622135FF;
  --sinoper-red-100-mode-1: #F9E7E7FF;
  --sinoper-red-200-mode-1: #F3D4D4FF;
  --sinoper-red-300-mode-1: #E8A8A8FF;
  --sinoper-red-400-mode-1: #DC7D7DFF;
  --sinoper-red-500-mode-1: #D05252FF;
  --sinoper-red-600-mode-1: #C52626FF;
  --sinoper-red-700-mode-1: #AE0F0FFF;
  --sinoper-red-800-mode-1: #8B0C0CFF;
  --sinoper-red-900-mode-1: #680909FF;
  --medium-violet-red-200-mode-1: #F3D4E9FF;
  --medium-violet-red-300-mode-1: #E8A8D4FF;
  --medium-violet-red-400-mode-1: #DC7DBEFF;
  --medium-violet-red-500-mode-1: #D052A8FF;
  --medium-violet-red-600-mode-1: #C52693FF;
  --medium-violet-red-700-mode-1: #AE0F7CFF;
  --medium-violet-red-800-mode-1: #8B0C63FF;
  --medium-violet-red-900-mode-1: #68094AFF;
  --cocktail-green-200-mode-1: #EBF4D7FF;
  --cocktail-green-300-mode-1: #D7EAB0FF;
  --cocktail-green-400-mode-1: #C3DF88FF;
  --cocktail-green-500-mode-1: #AFD460FF;
  --cocktail-green-600-mode-1: #9BC939FF;
  --cocktail-green-700-mode-1: #84B222FF;
  --cocktail-green-800-mode-1: #6A8F1BFF;
  --cocktail-green-900-mode-1: #4F6B14FF;
  --blue-purple-200-mode-1: #DBD1F6FF;
  --blue-purple-300-mode-1: #B8A2EDFF;
  --blue-purple-400-mode-1: #9474E4FF;
  --blue-purple-500-mode-1: #7145DBFF;
  --blue-purple-600-mode-1: #4D17D2FF;
  --blue-purple-700-mode-1: #3E12A8FF;
  --blue-purple-800-mode-1: #2E0E7EFF;
  --blue-purple-900-mode-1: #1F0954FF;
  --black-100-mode-1: #797C7FFF;
  --white-00-mode-1: #FFFFFFFF;
  --black-200-mode-1: #626467FF;
  --black-300-mode-1: #525456FF;
  --black-500-mode-1: #353637FF;
  --black-400-mode-1: #434446FF;
  --black-600-mode-1: #2C2D2EFF;
  --black-700-mode-1: #252729FF;
  --black-800-mode-1: #1C1D1FFF;
  --black-900-mode-1: #131415FF;
  --black-1000-mode-1: #000000FF;
  --white-25-mode-1: #F9F9F9FF;
  --white-50-mode-1: #F4F4F4FF;
  --white-100-mode-1: #F0F0F0FF;
  --white-200-mode-1: #E5E5E5FF;
  --white-300-mode-1: #D4D4D4FF;
  --white-400-mode-1: #CCCCCCFF;
  --white-500-mode-1: #C6C6C6FF;
  --white-600-mode-1: #BBBBBBFF;
  --white-700-mode-1: #A0A0A0FF;
  --white-alpha-10-mode-1: #FFFFFF1A;
  --white-alpha-15-mode-1: #FFFFFF26;
  --white-alpha-20-mode-1: #FFFFFF33;
  --white-alpha-30-mode-1: #FFFFFF4D;
  --white-alpha-40-mode-1: #FFFFFF66;
  --white-alpha-50-mode-1: #FFFFFF80;
  --white-alpha-75-mode-1: #FFFFFFBF;
  --black-alpha-10-mode-1: #0000001A;
  --black-alpha-15-mode-1: #00000026;
  --black-alpha-20-mode-1: #00000033;
  --black-alpha-30-mode-1: #0000004D;
  --black-alpha-40-mode-1: #00000066;
  --black-alpha-50-mode-1: #00000080;
  --black-alpha-75-mode-1: #000000BF;
  --medium-red-alpha-10-mode-1: #B60A261A;
  --medium-red-alpha-15-mode-1: #B60A2626;
  --medium-red-alpha-20-mode-1: #B60A2633;
  --medium-red-alpha-30-mode-1: #B60A264D;
  --medium-red-alpha-40-mode-1: #B60A2666;
  --medium-red-alpha-50-mode-1: #B60A2680;
  --medium-red-alpha-75-mode-1: #B60A26BF;
  --purple-alpha-10-mode-1: #9748FF1A;
  --purple-alpha-15-mode-1: #9748FF26;
  --purple-alpha-20-mode-1: #9748FF33;
  --purple-alpha-30-mode-1: #9748FF4D;
  --purple-alpha-40-mode-1: #9748FF66;
  --purple-alpha-50-mode-1: #9748FF80;
  --purple-alpha-75-mode-1: #9748FFBF;
  --blue-sparkle-alpha-10-mode-1: #0075FF1A;
  --blue-sparkle-alpha-15-mode-1: #0075FF26;
  --blue-sparkle-alpha-20-mode-1: #0075FF33;
  --blue-sparkle-alpha-30-mode-1: #0075FF4D;
  --blue-sparkle-alpha-40-mode-1: #0075FF66;
  --blue-sparkle-alpha-50-mode-1: #0075FF80;
  --blue-sparkle-alpha-75-mode-1: #0075FFBF;
  --cool-green-alpha-10-mode-1: #0AC7131A;
  --cool-green-alpha-15-mode-1: #0AC71326;
  --cool-green-alpha-20-mode-1: #0AC71333;
  --cool-green-alpha-30-mode-1: #078B0E4D;
  --cool-green-alpha-40-mode-1: #078B0E66;
  --cool-green-alpha-50-mode-1: #078B0E80;
  --cool-green-alpha-75-mode-1: #078B0EBF;
  --green-cyan-alpha-10-mode-1: #0596691A;
  --green-cyan-alpha-15-mode-1: #05966926;
  --green-cyan-alpha-20-mode-1: #05966933;
  --green-cyan-alpha-30-mode-1: #0596694D;
  --green-cyan-alpha-40-mode-1: #05966966;
  --green-cyan-alpha-50-mode-1: #05966980;
  --green-cyan-alpha-75-mode-1: #059669BF;
  --yellow-alpha-10-mode-1: #FFC7001A;
  --yellow-alpha-15-mode-1: #FFC70026;
  --yellow-alpha-20-mode-1: #FFC70033;
  --yellow-alpha-30-mode-1: #FFD6424D;
  --yellow-alpha-40-mode-1: #FFD64266;
  --yellow-alpha-50-mode-1: #FFD64280;
  --yellow-alpha-75-mode-1: #FFD642BF;
  --orange-alpha-10-mode-1: #C753011A;
  --orange-alpha-15-mode-1: #C7530126;
  --orange-alpha-20-mode-1: #C7530133;
  --orange-alpha-30-mode-1: #C753014D;
  --orange-alpha-40-mode-1: #DE742966;
  --orange-alpha-50-mode-1: #DE742980;
  --orange-alpha-75-mode-1: #DE7429BF;
  --white-alpha-5-mode-1: #FFFFFF0D;
  --white-alpha-025-mode-1: #FFFFFF08;
  --black-alpha-5-mode-1: #0000000D;
  --black-alpha-025-mode-1: #00000008;
  --yellow-700-mode-1: #E59900FF;
  --red-orange-100-mode-1: #FED8CFFF;
  --red-orange-200-mode-1: #FDB7A7FF;
  --red-orange-300-mode-1: #FD967FFF;
  --red-orange-400-mode-1: #FC7557FF;
  --red-orange-500-mode-1: #FB542FFF;
  --red-orange-600-mode-1: #DB4726FF;
  --red-orange-700-mode-1: #BB3A1DFF;
  --red-orange-800-mode-1: #9C2C14FF;
  --red-orange-900-mode-1: #7C1F0BFF;
  --red-orange-1000-mode-1: #5C1202FF;
  --violet-100-mode-1: #F5EEFFFF;
  --violet-200-mode-1: #E2CCFFFF;
  --violet-300-mode-1: #CFABFFFF;
  --violet-400-mode-1: #BB87FFFF;
  --violet-500-mode-1: #A561FFFF;
  --violet-600-mode-1: #8E38FFFF;
  --violet-700-mode-1: #6A20CBFF;
  --violet-800-mode-1: #480999FF;
  --violet-900-mode-1: #330C69FF;
  --violet-1000-mode-1: #171123FF;
  --ocean-blue-200-mode-1: #D3F7FFFF;
  --ocean-blue-300-mode-1: #ADE8F4FF;
  --ocean-blue-400-mode-1: #90E0EFFF;
  --ocean-blue-500-mode-1: #48CAE4FF;
  --ocean-blue-600-mode-1: #00B4D8FF;
  --ocean-blue-700-mode-1: #0096C7FF;
  --ocean-blue-800-mode-1: #0077B6FF;
  --ocean-blue-900-mode-1: #023E8AFF;
  --ocean-blue-1000-mode-1: #03045EFF;
  --yellow-800-mode-1: #BF7600FF;
  --yellow-900-mode-1: #995700FF;
  --yellow-950-mode-1: #733B00FF;
  --yellow-1000-mode-1: #1A0C00FF;
  --yellow-50-mode-1: #FFFDE6FF;
  --yellow-100-mode-1: #FFF9CCFF;
  --purple-alpha-5-mode-1: #9748FF0D;
  --purple-alpha-3-mode-1: #9748FF08;
  --black-950-mode-1: #0F1011FF;
  --wavy-navy-alpha-025-mode-1: #00293E08;
  --wavy-navy-alpha-5-mode-1: #00293E0D;
  --wavy-navy-alpha-10-mode-1: #00293E1A;
  --wavy-navy-alpha-15-mode-1: #00293E26;
  --wavy-navy-alpha-20-mode-1: #00293E33;
  --wavy-navy-alpha-30-mode-1: #00293E4D;
  --wavy-navy-alpha-40-mode-1: #00293E66;
  --wavy-navy-alpha-50-mode-1: #00293E80;
  --wavy-navy-alpha-75-mode-1: #00293EBF;
  --wavy-navy-alpha-075-mode-1: #00293E14;
  --black-alpha-075-mode-1: #00000014;
  --white-alpha-075-mode-1: #FFFFFF14;
  --dark-navy-100-mode-1: #367896FF;
  --dark-navy-200-mode-1: #296887FF;
  --dark-navy-300-mode-1: #1D5878FF;
  --dark-navy-400-mode-1: #134969FF;
  --dark-navy-500-mode-1: #0B3B59FF;
  --dark-navy-600-mode-1: #042F4AFF;
  --dark-navy-700-mode-1: #00243BFF;
  --dark-navy-800-mode-1: #00192BFF;
  --dark-navy-900-mode-1: #00101CFF;
  --dark-navy-1000-mode-1: #000000FF;
  --dark-navy-950-mode-1: #00070DFF;
  --macaroon-rose-1000-mode-1: #2E0F19FF;
  --macaroon-rose-alpha-025-mode-1: #F5538508;
  --macaroon-rose-alpha-5-mode-1: #F553850D;
  --macaroon-rose-alpha-075-mode-1: #F5538514;
  --macaroon-rose-alpha-10-mode-1: #F553851A;
  --macaroon-rose-alpha-15-mode-1: #F5538526;
  --macaroon-rose-alpha-20-mode-1: #F5538533;
  --macaroon-rose-alpha-30-mode-1: #F553854D;
  --macaroon-rose-alpha-40-mode-1: #F5538566;
  --macaroon-rose-alpha-50-mode-1: #F5538580;
  --macaroon-rose-alpha-75-mode-1: #F55385BF;
  --yellow-alpha-025-mode-1: #FFC70008;
  --yellow-alpha-5-mode-1: #FFC7000D;
  --yellow-alpha-075-mode-1: #FFC70014;
  --orange-alpha-025-mode-1: #C7530108;
  --orange-alpha-5-mode-1: #C753010D;
  --orange-alpha-075-mode-1: #C7530114;
  --blue-sparkle-alpha-025-mode-1: #0075FF08;
  --blue-sparkle-alpha-5-mode-1: #0075FF0D;
  --blue-sparkle-alpha-075-mode-1: #0075FF14;
  --medium-red-alpha-025-mode-1: #B60A2608;
  --medium-red-alpha-5-mode-1: #B60A260D;
  --medium-red-alpha-075-mode-1: #B60A2614;
  --cool-green-alpha-025-mode-1: #0AC71308;
  --cool-green-alpha-5-mode-1: #0AC7130D;
  --cool-green-alpha-075-mode-1: #0AC71314;
  --green-cyan-alpha-025-mode-1: #05966908;
  --green-cyan-alpha-5-mode-1: #0596690D;
  --green-cyan-alpha-075-mode-1: #05966914;
  --ocean-blue-alpha-025-mode-1: #00B4D808;
  --ocean-blue-alpha-5-mode-1: #00B4D80D;
  --ocean-blue-alpha-075-mode-1: #00B4D814;
  --ocean-blue-alpha-10-mode-1: #00B4D81A;
  --ocean-blue-alpha-15-mode-1: #00B4D826;
  --ocean-blue-alpha-20-mode-1: #00B4D833;
  --ocean-blue-alpha-30-mode-1: #00B4D84D;
  --ocean-blue-alpha-40-mode-1: #00B4D866;
  --ocean-blue-alpha-50-mode-1: #00B4D880;
  --ocean-blue-alpha-75-mode-1: #00B4D8BF;
  --light-blue-00-mode-1: #FAFCFFFF;
  --light-blue-25-mode-1: #EFF3F9FF;
  --light-blue-50-mode-1: #E8EDF4FF;
  --light-blue-100-mode-1: #E2E8F0FF;
  --light-blue-200-mode-1: #D7DDE5FF;
  --light-blue-300-mode-1: #C7CDD4FF;
  --light-blue-400-mode-1: #C0C5CCFF;
  --light-blue-500-mode-1: #BABFC6FF;
  --light-blue-600-mode-1: #B0B4BBFF;
  --light-blue-700-mode-1: #969AA0FF;
  --slate-50-mode-1: #F8FAFCFF;
  --slate-100-mode-1: #F1F5F9FF;
  --slate-200-mode-1: #E2E8F0FF;
  --slate-300-mode-1: #CBD5E1FF;
  --slate-400-mode-1: #94A3B8FF;
  --slate-500-mode-1: #64748BFF;
  --slate-600-mode-1: #475569FF;
  --slate-700-mode-1: #334155FF;
  --slate-800-mode-1: #1E293BFF;
  --slate-900-mode-1: #0F172AFF;
  --slate-950-mode-1: #020617FF;
}

