@import "tailwindcss";

@plugin 'glare-typography';
@plugin 'glare-themes';
@plugin 'glare-torch-mode';
@plugin 'tailwind-scrollbar-hide';

* {
  box-sizing: border-box;
}

body {
  font-family: "SF-Pro";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
}

.test {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}