@import "./fonts/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "SF-Pro";
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(223, 223, 223);
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
}

.test {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}