@import './fonts/fonts.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --content-presentation-global-primary: red;
}

body {
    font-family: 'SF-Pro';
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}